canvas {
  display: block;
  vertical-align: bottom;

}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.txt {
  position: relative;
  background-color:  rgb(255,255,255, 0);
  
}
