@font-face {
    font-family: 'Roboto';
    src: url(Roboto);
}

* {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin:0;
    font-family: 'Roboto';
}

html {
    justify-content: center;
}

body {
	
	/* to centre page on screen*/
	margin-left: auto;
	align-self: center;
	font-family: 'Roboto';
    font-size: 100%;
    }

#menu{
    position: fixed;
    top: 1%;
    left: 12%;
} 

.avatar {
	width: 200px;
	height: 200px;
    display: inline-block;
}

button {
    height: 25px;
    background-color:rgb(255, 140, 0);
    border: 2px solid red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: inherit;
    margin-left: 1.1%;
    cursor: pointer;
    }

    .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        border: 1px solid blue;
        background-color:  #F7BE81;
        box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
        z-index: 9;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(241,241,241, 0.85);
        border-radius: 5px;
        min-width: 160px;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #0000ff;}

.main {
    align-content: center;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;

    background: rgba(229,245,255,0.51);
    background: -moz-linear-gradient(top, rgba(229,245,255,0.51) 13%, rgba(229,245,255,0.69) 32%, rgba(229,245,255,0.69) 44%, rgba(204,228,240,0.69) 95%, rgba(229,242,250,0.69) 98%, rgba(224,239,249,0.69) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(13%, rgba(229,245,255,0.51)), color-stop(32%, rgba(229,245,255,0.69)), color-stop(44%, rgba(229,245,255,0.69)), color-stop(95%, rgba(204,228,240,0.69)), color-stop(98%, rgba(229,242,250,0.69)), color-stop(100%, rgba(224,239,249,0.69)));
    background: -webkit-linear-gradient(top, rgba(229,245,255,0.51) 13%, rgba(229,245,255,0.69) 32%, rgba(229,245,255,0.69) 44%, rgba(204,228,240,0.69) 95%, rgba(229,242,250,0.69) 98%, rgba(224,239,249,0.69) 100%);
    background: -o-linear-gradient(top, rgba(229,245,255,0.51) 13%, rgba(229,245,255,0.69) 32%, rgba(229,245,255,0.69) 44%, rgba(204,228,240,0.69) 95%, rgba(229,242,250,0.69) 98%, rgba(224,239,249,0.69) 100%);
    background: -ms-linear-gradient(top, rgba(229,245,255,0.51) 13%, rgba(229,245,255,0.69) 32%, rgba(229,245,255,0.69) 44%, rgba(204,228,240,0.69) 95%, rgba(229,242,250,0.69) 98%, rgba(224,239,249,0.69) 100%);
    background: linear-gradient(to bottom, rgba(229,245,255,0.51) 13%, rgba(229,245,255,0.69) 32%, rgba(229,245,255,0.69) 44%, rgba(204,228,240,0.69) 95%, rgba(229,242,250,0.69) 98%, rgba(224,239,249,0.69) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f5ff', endColorstr='#e0eff9', GradientType=0 );
      

    
}

.pres {
    background: rgba(205,239,247,1);
    background: -moz-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(205,239,247,1)), color-stop(15%, rgba(205,239,247,0.95)), color-stop(44%, rgba(232,232,232,0.85)), color-stop(51%, rgba(222,222,222,0.82)), color-stop(100%, rgba(255,255,255,0.65)));
    background: -webkit-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: -o-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: linear-gradient(to bottom, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeff7', endColorstr='#ffffff', GradientType=0 );
    border-radius: 25px;
}

h1 {
    font-size: 200%;
    text-decoration: underline;
    text-align: center;
    text-shadow: 2px 3px  #F7BE81;
}


h2 {
    width: 45%;
    color: white;
    font-size: 24px;
    font-family: "Quicksand Regular";       
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    text-align: center;
   
background: rgba(119,216,252,1);
background: -moz-linear-gradient(top, rgba(119,216,252,1) 0%, rgba(87,124,142,1) 37%, rgba(78,108,121,1) 51%, rgba(38,147,201,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(119,216,252,1)), color-stop(37%, rgba(87,124,142,1)), color-stop(51%, rgba(78,108,121,1)), color-stop(100%, rgba(38,147,201,1)));
background: -webkit-linear-gradient(top, rgba(119,216,252,1) 0%, rgba(87,124,142,1) 37%, rgba(78,108,121,1) 51%, rgba(38,147,201,1) 100%);
background: -o-linear-gradient(top, rgba(119,216,252,1) 0%, rgba(87,124,142,1) 37%, rgba(78,108,121,1) 51%, rgba(38,147,201,1) 100%);
background: -ms-linear-gradient(top, rgba(119,216,252,1) 0%, rgba(87,124,142,1) 37%, rgba(78,108,121,1) 51%, rgba(38,147,201,1) 100%);
background: linear-gradient(to bottom, rgba(119,216,252,1) 0%, rgba(87,124,142,1) 37%, rgba(78,108,121,1) 51%, rgba(38,147,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77d8fc', endColorstr='#2693c9', GradientType=0 );

   }

h3 {
	margin-left: 60px;
}

img {
	max-width: 100%;
	box-shadow: 2px 2px 2px rgb(116, 114, 114);
}

.header {
    width: 100px;
    height: auto;
    position: absolute;
    padding-bottom: 5%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.top{top:0}
.middle{top:50%;margin-top:-10px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left:0;}
.center{left:50%;margin-left:-10px;/*half of the .box width*/}
.right{right:0;}

#avatar {
    position: relative;
    width: 80%;
    height: auto;
    padding-bottom: 5%;
	align-content: center;
	margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
	display: inline-block;
}

p {
	margin-left: 60px;
}

ul {

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.75)), color-stop(100%, rgba(237,237,237,0.47)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

} 

.objectifs {
    padding-bottom: 1%;
}

.formation {
    padding-bottom: 2%;
    background: rgba(205,239,247,1);
    background: -moz-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(205,239,247,1)), color-stop(15%, rgba(205,239,247,0.95)), color-stop(44%, rgba(232,232,232,0.85)), color-stop(51%, rgba(222,222,222,0.82)), color-stop(100%, rgba(255,255,255,0.65)));
    background: -webkit-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: -o-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    background: linear-gradient(to bottom, rgba(205,239,247,1) 0%, rgba(205,239,247,0.95) 15%, rgba(232,232,232,0.85) 44%, rgba(222,222,222,0.82) 51%, rgba(255,255,255,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeff7', endColorstr='#ffffff', GradientType=0 );
    border-radius: 25px;
}

.entete {
    margin-top: 1%;
    margin-bottom: 1%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    box-shadow: 5px 10px 8px #888888;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.75)), color-stop(100%, rgba(237,237,237,0.47)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
 }

.tab {
    margin-left : 80px;
    margin-right: 80px;
    margin-top: 2%;
    margin-bottom: 2%;
   }

.col1{
    width: 100px;
	height: 50px;
}

.col2{
    width: 200px;
}

.col3 {
    width: auto;
}


  ol {
    border-left: 3px solid blue;
    height: 60px;
    margin-left: 50px;
    padding-left: 35px;
  }

  ul.a {list-style-type: square;
    margin-left: 10%;
}

  .contact {
      width: 80%;
      position: relative;
      height: auto;
      display: flex;
      margin-bottom: 3%;
      margin-left: 10%;
      justify-content: center;
      border: 1px solid black;
      box-shadow: 5px 10px 8px #888888;

      background: rgba(255,255,255,1);
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.75)), color-stop(100%, rgba(237,237,237,0.47)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.47) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
            


      font-size: 100%;
  }

  .textarea {
    background-color: white;
}

footer {
    text-align: center;
    padding-top: 2%;
    
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.59) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.81)), color-stop(100%, rgba(237,237,237,0.59)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.59) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.59) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.59) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.81) 47%, rgba(237,237,237,0.59) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

    border-radius: 10px;
}

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    body {
     font-size: 80%;
    }
  
    h1 {
         font-size: 150%;
    }
    
    h2{
        font-size: 120%;
    }

    #menu{
        position: fixed;
        top: 1%;
        left: 1%;
    } 

    .header {
        width: 60px;
        height: auto;
        position: absolute;
        margin-bottom: 5%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .top{top:0}
.middle{top:50%;margin-top:10px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left:0;}
.center{left:50%;margin-left:-10px;/*half of the .box width*/}
.right{right:0;}
    
#avatar {
    height: 20px;
    margin-top:21%;
  }

  .entete {
      margin-top: 5%;
  }

button {
    margin-left: 6%;
}
    .formation {
        position: relative;
        padding-top: 25px;
    }

    .obectifs {
        position: relative;
        margin-bottom: 30px;
    }

    .tab {
        margin : 1%;
    }

    .contact {
        width: 80%;
    
        margin-left: 10%;
        font-size: 80%;
    }

    input {
        font-size: 80%;
    }

   
}