@font-face {
    font-family: 'Roboto';
    src: url(Roboto);
}

* {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin:0;
    font-family: 'Roboto';
}


html {
    justify-content: center;
}

a:hover{
    text-decoration: none;
}

body {
	
	/* to centre page on screen*/
	margin-left: auto;
	align-self: center;
	font-family: 'Roboto';
    font-size: 100%;
    }

.dropdown {
    z-index: 9;
}

.avatar {
	width: 200px;
	height: 200px;
    display: inline-block;
}

button {
    height: 25px;
    background-color:rgb(255, 140, 0);
    border: 2px solid red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: inherit;
    margin-left: 1.1%;
    cursor: pointer;
    }

.dropdown-menu {
    position: relative;
    width: 98%;
    height: 20px;
    background-color: gainsboro;
    margin-left: 1.1%;
    margin-right: 1.1%;
    margin-top: 2%;
}

a.dropdown-item {
 color: #000;
}

.main {
    align-content: center;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    background: rgba(212,228,239,0);
    background: -moz-linear-gradient(top, rgba(212,228,239,0) 15%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(15%, rgba(212,228,239,0)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(top, rgba(212,228,239,0) 15%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(top, rgba(212,228,239,0) 15%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,228,239,0) 15%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to bottom, rgba(212,228,239,0) 15%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
    
}

h1 {
    font-size: 200%;
    text-decoration: underline;
    text-align: center;
    text-shadow: 2px 2px #008CBA;
}


h2 {
    color: white;
    background-color: #F7BE81;
    font-size: 32px;
    font-family: "Quicksand Regular";       
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid blue;
    text-align: center;
   
   }

h3 {
	margin-left: 60px;
}

img {
	max-width: 100%;
	box-shadow: 2px 2px 2px rgb(116, 114, 114);
}

.header {
    width: 100px;
    height: auto;
    position: absolute;
    padding-bottom: 5%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.top{top:0}
.middle{top:50%;margin-top:-10px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left:0;}
.center{left:50%;margin-left:-10px;/*half of the .box width*/}
.right{right:0;}

#avatar {
    position: relative;
    width: 80%;
    height: auto;
    padding-bottom: 5%;
	align-content: center;
	margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
	display: inline-block;
}

p {
	margin-left: 60px;
}

ul {
    background-color: aliceblue;
} 

.objectifs {
    padding-bottom: 1%;
}

.formation {
    padding-bottom: 1%;
}

.entete {
    margin-top: 1%;
    margin-bottom: 1%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    box-shadow: 5px 10px 8px #888888;
    background-color: aliceblue;
}

.tab {
    margin : 80px;
}

.col1{
    width: 100px;
	height: 50px;
}

.col2{
    width: 200px;
}

.col3 {
    width: auto;
}


  ol {
    border-left: 3px solid blue;
    height: 60px;
    margin-left: 50px;
    padding-left: 35px;
  }

  ul.a {list-style-type: square;
    margin-left: 10%;
}

  .contact {
      width: 100%;
      position: relative;
      height: auto;
      display: flex;
      padding-bottom: 1%;
      justify-content: center;
      border: 1px solid black;
      box-shadow: 5px 10px 8px #888888;
      background-color: aliceblue;
      font-size: 100%;
  }

  .textarea {
    background-color: white;
}

footer {
    padding-top: 1%;
}

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    body {
    
        font-size: 80%;
    
    }

  
    h1 {
         font-size: 150%;
    }
    
    h2{
        font-size: 120%;
    }

    .header {
        width: 60px;
        height: auto;
        position: absolute;
        margin-bottom: 5%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .top{top:0}
.middle{top:50%;margin-top:10px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left:0;}
.center{left:50%;margin-left:-10px;/*half of the .box width*/}
.right{right:0;}
    
#avatar {
    height: 20px;
    margin-top:21%;
  }

  .entete {
      margin-top: 5%;
  }

button {
    margin-left: 6%;
}
    .formation {
        position: relative;
        padding-top: 25px;
    }

    .obectifs {
        position: relative;
        margin-bottom: 30px;
    }

    .tab {
        margin : 1%;
    }

    .contact {
        width: 80%;
    
        margin-left: 10%;
        font-size: 80%;
    }

    input {
        font-size: 80%;
    }

   
}